/* @font-face {
  font-family: "sf_pro_displayregular";
  src: url("/fonts/sfprodisplayregular-webfont.woff2") format("woff2"),
    url("/fonts/sfprodisplayregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displayultraLtIt";
  src: url("/fonts/sfprodisplayultralightitalic-webfont.woff2") format("woff2"),
    url("/fonts/sfprodisplayultralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaythin_italic";
  src: url("/fonts/sfprodisplaythinitalic-webfont.woff2") format("woff2"),
    url("/fonts/sfprodisplaythinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaylight_italic";
  src: url("/fonts/sfprodisplaylightitalic-webfont.woff2") format("woff2"),
    url("/fonts/sfprodisplaylightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaymedium";
  src: url("/fonts/sfprodisplaymedium-webfont.woff2") format("woff2"),
    url("/fonts/sfprodisplaymedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaysemibold_italic";
  src: url("/fonts/sfprodisplaysemibolditalic-webfont.woff2") format("woff2"),
    url("/fonts/sfprodisplaysemibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displaybold";
  src: url("/fonts/sfprodisplaybold-webfont.woff2") format("woff2"),
    url("/fonts/sfprodisplaybold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf_pro_displayheavy_italic";
  src: url("/fonts/sfprodisplayheavyitalic-webfont.woff2") format("woff2"),
    url("/fonts/sfprodisplayheavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
} */
